@model List<Book>
@{
    ViewData["Title"] = "Home Page";
}

<ul>

@foreach (var item in Model)
{
    <li>@item.Name</li>
    @foreach (var bookauthor in @item.BookAuthors)
   {
       <li>
          AuthorName  @bookauthor.Author.Name
       </li>
   }

  
    @foreach (var img in @item.Images)
   {
      if (@img.IsMain)
            {
                 <span>@img.ImageUrl</span> <br />
                
            }
   }
   <hr />
}


</ul>